/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* sass compail: ./node_modules/.bin/node-sass src/style.scss dest/style.css; */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px; }

button:focus {
  outline: 0; }

.section {
  color: #fff;
  width: 90%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap; }

.code_block {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 10px 20px;
  margin: 0 20px;
  background: #202020;
  border: 2px dashed deeppink;
  outline: 10px solid #202020;
  font-size: 12px; }

.language-javascript {
  display: flex;
  flex-direction: column; }

/* --- code style --- */
.language-javascript var {
  color: yellow; }

.language-javascript .result {
  color: #e92b2b; }

.language-javascript .value {
  color: #66b2ff; }

.language-javascript .assignment {
  color: #ff007f; }

.language-javascript .consol {
  color: #28da28; }

/*----------------*/
.codeAnim {
  font-size: 12px;
  font-family: monospace; }

.btn {
  width: 80px;
  width: 5rem;
  height: 40px;
  height: 2.5rem;
  font-size: 12px;
  font-size: 0.75rem;
  align-self: center;
  background: #660033;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #660033;
  box-shadow: 1px 1px 2px 0px rgba(97, 44, 70, 0.75);
  text-shadow: 2px 2px 2px #000;
  margin: 0 5px; }

.btn:hover, .btn-checked {
  background: #fff;
  color: #660033;
  border: 2px solid #660033;
  text-shadow: 1px 1px 1px #8e5472; }

.anim_pause {
  animation-play-state: paused; }

.anim_start {
  animation-play-state: running; }

@keyframes anim_1_element_1 {
  0% {
    font-weight: bold;
    background: none; }
  10% {
    font-weight: bold;
    background: rgba(255, 0, 127, 0.4); }
  30% {
    left: 80px;
    font-weight: bold;
    background: rgba(255, 0, 127, 0.4); }
  50% {
    top: 0px;
    left: 80px;
    font-weight: bold;
    background: rgba(255, 0, 127, 0.4); }
  60% {
    top: -14px;
    left: 80px;
    font-weight: bold;
    background: rgba(255, 0, 127, 0.4); }
  90% {
    top: -14px;
    left: 0px;
    font-weight: normal;
    background: rgba(255, 0, 127, 0.4); }
  100% {
    top: -14px;
    left: 0px;
    font-weight: normal;
    background: none; } }

@keyframes anim_1_element_2 {
  0% {
    top: 0px;
    background: none; }
  20% {
    top: 0px;
    background: rgba(255, 0, 127, 0.4); }
  60% {
    top: 12px;
    background: rgba(255, 0, 127, 0.4); }
  90% {
    top: 12px;
    background: rgba(255, 0, 127, 0.4); }
  100% {
    top: 12px;
    background: none; } }

#move_1_1 {
  width: 46px;
  position: relative;
  top: 0px;
  left: 0px;
  animation-name: anim_1_element_1;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

#move_1_2 {
  width: 46px;
  position: relative;
  top: 0px;
  left: 0px;
  animation-name: anim_1_element_2;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes anim_2_element_1 {
  0% {
    top: 14px;
    background: rgba(255, 0, 127, 0.4); }
  10% {
    top: 14px;
    background: rgba(255, 0, 127, 0.4); }
  100% {
    top: -18px;
    background: none; } }

@keyframes anim_2_element_2 {
  0% {
    left: 0px;
    background: rgba(255, 0, 127, 0.4); }
  10% {
    left: 0px;
    background: rgba(255, 0, 127, 0.4); }
  100% {
    left: -36px;
    background: none; } }

@keyframes addingSemicolon {
  100% {
    content: ";"; } }

@keyframes addingVariable {
  100% {
    content: 'a';
    background: rgba(255, 0, 127, 0.4);
    position: relative;
    left: 0px; } }

#move_2 {
  position: relative;
  top: 12px;
  left: 0px; }

#move_2_1 {
  position: relative;
  top: 14px;
  left: 0px;
  animation-name: anim_2_element_1;
  animation-duration: 5s;
  animation-iteration-count: infinite; }

#move_2_2 {
  position: relative;
  top: 14px;
  left: 10px;
  animation-name: anim_2_element_2;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

#move_2_1::after {
  content: ' ';
  animation-name: addingSemicolon;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

#move_2_2::before {
  content: ' ';
  animation-name: addingVariable;
  animation-duration: 8s;
  animation-iteration-count: infinite; }

#move_2_3 {
  position: relative;
  top: 16px;
  left: 0px; }
